@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

$main-font: "Heebo", sans-serif;

$gradient: linear-gradient(90deg, #26648e, #53d2dc);
$color1: #ffe3b3;
$color2: #26648e;
$light-color: #fff;